<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <button pButton label="Open dialog" (click)="openDialog()"></button>
</div>


<p-dialog #attachmentDialog header="Title go here" [(visible)]="visible" [modal]="true" [draggable]="false" [resizable]="false"
          [style]="{'max-width':'80vw;', 'max-height': '50vh'}" [blockScroll]="true">

  <div class="main-content" >

    <div class="drag-and-drop-container">
      <span class="drag-text">Drag files here or</span>
      <button id="upload-button" pButton type="button" [label]="'Browse'" style="margin-right: 0; font-size: 1.3em; vertical-align: middle;"></button>
      <input #hiddenFileInput type="file" multiple />

    </div>

    <div style="width: 80vw;">
      <p-table #filesTable [value]="attachedFiles" dataKey="id" [rowHover]="false"  [scrollable]="true" scrollHeight="calc(50vh - 250px)"
      (onEditComplete)="editComplete($event)">

        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width: 80%;">
            <col style="width: 6%;">
            <col style="width: 14%;">
          </colgroup>
        </ng-template>

        <ng-template pTemplate="header">

          <!-- HEADER (Column names) -->
          <tr class="table-header">

            <!-- Column Name -->
            <th >
              Name
            </th>

            <!-- Column Size -->
            <th>
              Size
            </th>

            <!-- Column Buttons -->
            <th>
            </th>

          </tr>

        </ng-template>

        <!-- BODY -->
        <ng-template pTemplate="body" let-file let-rowIndex="rowIndex" let-expanded="expanded">

          <tr>

            <!-- Column Name -->
            <td pEditableColumn class="cell-break-word">
              <p-cellEditor>

                <ng-template pTemplate="input">
                  <input (blur)="onBlur()" type="text" [(ngModel)]="file.name">
                </ng-template>

                <ng-template pTemplate="output">
                  {{file.name}}
                </ng-template>

              </p-cellEditor>
            </td>

            <!-- Column Size -->
            <td style="text-align: right">
              {{file.sizeHumanReadable}}
            </td>

            <!-- Column Buttons -->
            <td style="text-align: center;">

              <button id="download-file-button-{{rowIndex+1}}" type="button" pButton icon="fa fa-download"
                      style="margin-right: 3px;"></button>

              <button id="delete-file-button-{{rowIndex+1}}" type="button" pButton icon="fa fa-trash"
                      ></button>

            </td>

          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="3" style="padding: 10px; text-align: center">
              Empty!
            </td>
          </tr>
        </ng-template>


      </p-table>
    </div>


    <div class="footer">
      <div class="download-all-button">
        <button pButton type="button" id="download-all-button" icon="fas fa-file-archive" label="Dowload All" ></button>
      </div>

      <div class="close-button">
        <button pButton type="button" id="close-button" icon="fas fa-times"   label="Close"></button>
      </div>

    </div>
  </div>

</p-dialog>

